body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    line-height: 1.5;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}